/* main text color #212121 */
/* secondary text color #757575 */
/* accent color #2196F3 */
/* white #ffffff */
/* main bgc #E5E5E5 */
/* footer bcg #ffffff */
/* hero+footer bcg #2F303A */
/* sect our team bcg #F5F4FA */
:root {
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

/* body */
body {
  color: var(--secondary-text-color);
  background-color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-family: roboto;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* logo */

.title {
  color: var(--accent-color);
  font-family: raleway;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: var(--title-text-color);
  font-family: raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* nav */

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav .link-current {
  color: var(--accent-color);
}

.contact-link {
  color: var(--secondary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  text-transform: uppercase;
}

.button {
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;

  background-color: var(--accent-color);
  color: var(--white-color);
}

/* spec */

.spec-list-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.spec-list-text {
  font-size: 14px;
  line-height: 1.71;
}

/* work */

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.team-name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-decoration: none;
}

.team-link {
  text-decoration: none;
}

.team-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-decoration: none;
}

/* footer */

.foot {
  background-color: #2f303a;
}

.foot-address {
  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.74;
}

.foot-logo {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.foot-contact-link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.74;
  text-decoration: none;
}

.foot-contact-link:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.select-list {
  text-decoration: none;
  list-style: none;
}

.select-button {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.select-button:hover,
.select-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

/* portfolio */

.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
